{% extends "base/base.html" %}

{% block leftbar %}
{% include "controlpanel/user_leftbar.html" %}
{% endblock %}

{% block centerblock %}
    <table align="center">
        <form name="login" method="post" action="/login/">
            <tr>
                <td class="profile_left_wide">Usernaname or E-mail address:</td>
                <td><input name="username" type="text" size="32"></td>
            </tr>
            <tr>
                <td class="profile_left_wide">Password:</td>
                <td><input name="password" type="password" size="32"></td>
            </tr>
            <tr>
                <td class="profile_left_wide"></td>
                <td><input name="submit" type="submit" value="Sign in"></td>
            </tr>
        </form>
    </table>
{% endblock %}
